### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.vscode-server/

### Mac OS ###
.DS_Store

### User Directories and Shell History ###
.local/
.cache/
.bashrc
.bash_history
.bash_logout
.wget-hsts

### File Types to Ignore ###
*.class
*.exe
*.txt

java.hprof.txt
*.csv
*.jfr
